/ Googleアナリティクス　解析コード
%script{:async => "", 
  :src => "https://www.googletagmanager.com/gtag/js?id=G-QJ06SMJ2Y5"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-QJ06SMJ2Y5');