/ CSRFとコンテンツセキュリティポリシー対策
= csrf_meta_tags
= csp_meta_tag

/ googleアドセンス
%script{async: "", crossorigin: "anonymous",
src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1975514113864953"}

/ 第三者コードをヘッダー上で実行
%meta{content: "on", "http-equiv" => "x-dns-prefetch-control"}/
%link{href: "//tpc.googlesyndication.com/sodar/sodar2/225/runner.html", rel: "preconnect dns-prefetch"}/
%link{href: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1975514113864953", rel: "preconnect dns-prefetch"}/
%link{href: "//pagead2.googlesyndication.com/pagead/managed/js/adsense/m202302130101/show_ads_impl_with_ama_fy2021.js?client=ca-pub-1975514113864953&plah=160.16.136.195%3A3000", rel: "preconnect dns-prefetch"}/
%link{href: "//www.googletagmanager.com/gtag/js?id=G-QJ06SMJ2Y5", rel: "preconnect dns-prefetch"}/

/ google検索に表示しない
- if 'agrees' == controller.controller_name || 'edit' == controller.action_name || ('expors' == controller.controller_name && 'index' == controller.action_name)
  %meta{:content => "noindex", :name => "robots"}/

