/ fonts.googleapis
%link{:href => "https://fonts.googleapis.com", :rel => "preconnect",
  :crossorigin => "",
  :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
%link{:href => "https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap",
  :rel => "stylesheet"}/

%script{src: "https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"}

/ pay.jp
%script{src: "https://js.pay.jp/v2/pay.js"}

/ slick
// %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css",
//   :rel => "stylesheet", :type => "text/css"}/
// %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css",
//   :rel => "stylesheet", :type => "text/css"}/
// %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js",
//   :type => "text/javascript"}
