/ メタ情報
%meta{:charset => "UTF-8"}/
%meta{:content => "width=device-width",:name => "viewport"}/
%title
  = content_for?(:html_title) ? yield(:html_title) : ""
  ｜イラストライフ
%meta{:content => "2023年2月の人気キャラを表示。
  好きなクリエーターに作品をリクエストできる。", :name => "description"}/