/ メタ情報
%meta{:charset => "UTF-8"}/
%meta{:content => "width=device-width",:name => "viewport"}/
%title
  = content_for?(:html_title) ? yield(:html_title) : ""
  ｜イラストライフ
%meta{:content => "イラストのみを使ってコミュニケーション。
  好きなクリエーターに作品をリクエスト。", :name => "description"}/