%meta{:content => "noindex", :name => "robots"}/
- content_for(:html_title) { 'アクティブ漫画' }
%h1.font-Xlarge.background_color-whitesmoke='アクティブ漫画'

.container
  .row
    =link_to image_tag('/img/mobu.png', class: 'size_Xlarge-square fit_cover border_solid-medium'), manga_illustlifes_path
