
%h2.font-large='開発者より'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_45°笑顔.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    利用者様に、開発者より一言お願いします。
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    イラストでコミュニケーションをとる事により、
    楽しくクリエイティブなスキルを上げられたらと思い、
    このWEBアプリを創りました。
    どうぞ楽しんでいってください。
  .col-3
    = image_tag('/img/character/リオ前面_励まし.png',
      class:'size_Xlarge-square')