.container
  .row.my-5.border
    .col-1
    .col-6
      %h2 目次
      = link_to "このサイトでできる事", home_manual_path(1,3),
        class:"font-medium"
      %br
        = link_to "キャラクタデザイン機能", home_manual_path(1,2),
          class:"font-medium"
      = link_to "テスト版について", home_manual_path(1,1), class:"font-medium"
