
%h2.l_font='このサイトで出来る事'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_呼びかけ.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.m-font
    このサイトで出来る事を教えてください。
    
.row
  .col-1
  .col-6.block-baloon-right.m-font
    ・イラストでコミュニケーション<br>
    ・イラストを描くスキルの向上<br>
    ・クリエーターにイラストをリクエスト<br>
  .col-3
    = image_tag('/img/character/リオ前面_身振り手振りで説明.png', 
      class:'size_Xlarge-square')

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_バイバイ.gif',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.m-font
    わかりました。ありがとうございました。
    
.row
  .col-1
  .col-6.block-baloon-right.m-font
    どういたしまして。
  .col-3
    = image_tag('/img/character/リオ前面_バイバイ.gif',
      class:'size_Xlarge-square')