
%h2.font-large='テスト版について'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫測面_見上げる.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    テスト版ではどういった事を行いますか？
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    テスト版(2022/7月～現在)では、運営からクリエーターにテストを兼ねてリクエストを行い、
    不具合やバグがないかどうかを確認する事が中心になります
  .col-3
    = image_tag('/img/character/リオ前面_どうぞ.png', 
      class:'size_Xlarge-square')
      
.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_見上げる.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    テスト版はいつ終わりますか？
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    いつ終わるかは未定です・・・
  .col-3
    = image_tag('/img/character/リオ前面_自分の値段.png',
      class:'size_Xlarge-square')
