!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    = @tx.nick
    さん
    <br><br>
    = @tx.nick
    さんから
    = @rx.nick
    さんへのリクエストが承認されました<br>
    作品納品時に再度ご連絡致します。<br>
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/requests"
    <br>
