!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    =@sender.nickname
    さん
    <br><br>
    = @receiver.nickname
    さんからの作品が納品されました。<br>
    以下のリンク先よりご確認ください。<br>
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/requests"
    <br>