<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.nickname %>さんからのリクエストが承認されました。</h3>
      <p>リクエスト状況の詳細は、以下のリンク先に記載されています。</p>
      <p><%= link_to 'リクエスト状況確認先リンク', "http://defomate.net:3000/requests/#{@requests.send_id}" %></p>

      
      <p>イラストライフ運営局より</p>

  </body>
</html>