!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    ="#{@resume_user.nickname}さんがリクエスト受付を開始しました→"
    ="#{ENV['HOME_ADDRESS']}/creators/#{@resume_user.id}"
