!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    = @tx.nick
    さん
    <br><br>
    = @rx.nick
    さんの
    作業が中断されました<br>
    納品場所は以下のリンク先になります。<br>
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/expors/#{@expor.id}"
    <br>