!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    =@receiver.nickname
    さん
    <br><br>
    = @sender.nickname
    さんから、リクエストが送信されました。<br>
    リクエスト承認の可否決定を以下のリンク先よりお願い致します。<br> 
    = link_to '承認リンク先', ENV['HOME_ADDRESS'] + "/requests"
    <br>