<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @sender.nickname %>さんから、リクエストが送信されました。</h3>
    <p>リクエスト承認の可否決定を、以下のリンク先よりお願い致します。</p>
    <p><%= link_to '承認先リンク', "http://160.16.136.195:3000/requests/#{@requests.id}" %></p>

    <p>イラストライフ運営局より</p>
  </body>
</html>