!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    ="#{@re_id.nick}さんがリクエスト受付を開始しました→"
    ="#{ENV['HOME_ADDRESS']}/creators/#{@re_id.id}"
