<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @receiver.nickname %>さんから、納品物に手戻しの処理が入りました。</h3>
    <p>再納品が完了しましたら、再度ご連絡致します。</p>
    <p>詳細は以下のリンク先よりお願い致します。</p>
    <p><%= link_to '参照先リンク', "http://160.16.136.195:3000/requests" %></p>

    <p>イラストライフ運営局より</p>
  </body>
</html>