%meta{:content => "noindex", :name => "robots"}/
- content_for(:html_title) { '2.5D漫画' }
%h1.font-Xlarge.background_color-whitesmoke イラストライフ
  
.container
  .row
    %h2.font-large イラストライフ
  .row
    %h3.font-medium 第一話 次世代VR「ネクストライフ」
  .row
    .slider.rollimg
      %div
        %img{:src => '/img/mobu.png'}/
        %img{:src => '/img/instagram.png'}/
      %div
        %img{:src => '/img/noImage.png'}/

