%meta{:content => "noindex", :name => "robots"}/
- content_for(:html_title) { 'イラストライフ' }
%h1.font-Xlarge.background_color-whitesmoke='イラストライフ'

.container
  .row
    ='第一話 次世代VRネクストライフ'
    =link_to image_tag('/img/mobu.png', class: 'size_Xlarge-square fit_cover border_solid-medium'), '/mangas/1/illustlifes/1'

