%meta{:content => "noindex", :name => "robots"}/
- content_for(:html_title) { '第1話次世代VRネクストライフ' }
%h1.font-Xlarge.background_color-whitesmoke='第1話次世代VRネクストライフ'

.container-fluid
  .images
    = image_tag "/img/mobu.png"
    = image_tag "/img/mobu.png"
    = image_tag "/img/mobu.png"
    = image_tag "/img/mobu.png"
  
