- content_for(:html_title) { '晒している作品' }
%h1.ll_font.ws_bgc 晒している作品
.container
  / 表題
  .row.my-5
    .col.text-center
      %button.btn.btn-light.m_font{"data-turbolinks" => "false"}= link_to '新規',
      "/expors/#{current_user.id}/new"
  .row  
    - if not @expors.blank?
      %table.table.fixed_col
        %tr
          %th="現在の工程"
          %th="内容"
          %th="希望"
          %th="謝礼(pt)"
          %th="操作"
  
  / 表体
  - @expors.reverse_each.with_index(1) do |expor|
    - @expor = expor
    = render 'expors/parts/expor.html'
