- content_for(:html_title) { 'イラスト付き利用説明-目次' }
%h1.font-Xlarge.background_color-whitesmoke='イラスト付き利用説明-目次'

.container
  .row
    .col-3
      = image_tag('/img/character/ディフォ姫前面_ここはどこ.gif', class:'size_Xlarge-square')
    .col-6.block-baloon-left
      船長。ここはどこですか？
  .row
    .col-1
    .col-6.block-baloon-right
      目次だよ
    .col-3
      = image_tag('/img/character/リオ前面_説明.gif', class:'size_Xlarge-square')
  .row
    .col-1
    .col-7
      = image_tag('/img/character/index.gif', class:'600x400')
    
      