.row
  .col-md-12.px-0
    %h1  ご意見・通報
.container
  .row
    %h3 内容:
  .row
    = form_with(model: @explanations, local: true) do |f|
      = f.text_area :letter_body, size: "80x20"
      = submit_tag("送信")
