- content_for(:html_title) { 'ご意見・通報' }
%h1.ll_font.ws_bgc ご意見・通報

.container
  .row
    %h2 内容:
  .row
    = form_with(model: @explanations, local: true) do |f|
      = f.text_area :a_msg, size: "80x20"
      = f.submit '送信', :name => 'accepting_requests'
