<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;特定商取引法に基づく表記</h1>
  </div>
</div>

<div class="container">
  <table class="table is-fullwidth">
    <tbody>
      <tr>
        <th>役務の内容</th>
        <td>絵画、音声などの創作物におけるモチーフを有償で指定するリクエスト権の売買機会の提供、リクエスト権の購入者とのマッチング</td>
      </tr>
      <tr>
        <th>役務の対価</th>
        <td>購入者が設定した価格に対する最大13.6%の手数料</td>
      </tr>
      <tr>
        <th>役務の対価以外の必要料金</th>
        <td>出金申請1回につき最大458円の事務手数料</td>
      </tr>
      <tr>
        <th>役務の対価の支払い方法</th>
        <td>購入者のクレジットカード決済時に自動差し引き</td>
      </tr>
      <tr>
        <th>役務の対価の支払時期</th>
        <td>購入者との取引成立時</td>
      </tr>
      <tr>
        <th>役務の提供時期</th>
        <td>当該手続き完了後即時</td>
      </tr>
      <tr>
        <th>返金の取り扱い方法</th>
        <td>役務の性質上不可</td>
      </tr>
      <tr>
        <th>役務提供事業者</th>
        <td>株式会社スケブ</td>
      </tr>
      <tr>
        <th>役務提供事業者の住所</th>
        <td>〒101-0022<br>東京都千代田区神田練塀町3 富士ソフト秋葉原ビル12F</td>
      </tr>
      <tr>
        <th>役務提供責任者</th>
        <td>代表取締役 喜田一成</td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td><img src="https://skeb.imgix.net/static/asct.png?s=14efbcf1b590584d9303a00e4b74635c" style="display: none;"><br style="display: none;"><strong class="has-text-danger">特定商取引法に基づく申立専用窓口です。仕様の確認や質問など、法令に基づかない問い合わせには返信いたしかます。</strong><br>返金の完了には最大120日を要します。返金までの日数をお調べすることはできません。詳しくは<a href="https://tayori.com/faq/26021e11283c7264363ad8d4479c59cd5a0c08cc/detail/7505513a83e9ead196e27827a6802ae1967ad32c">サポート</a>をご確認ください。120日を経過していない場合には問い合わせには返信いたしかます。<br>手数料割引の有無、売上の振込、決済の仕様や対応カード、リクエストにつきましては、<a href="/terms" class="">利用規約</a>、<a href="/creator" class="">クリエイターガイドライン</a>、<a href="/client" class="">クライアントガイドライン</a>、<a href="/sales" class="">売上</a>、<a href="/charges" class="">支払い</a>、<a href="https://tayori.com/faq/26021e11283c7264363ad8d4479c59cd5a0c08cc">サポート</a>の内容をご確認ください。法令に基づく問い合わせの場合は<a>こちら</a>をクリックしてください。</td>
      </tr>
    </tbody>
  </table>
</div>