<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;特定商取引法に基づく表記</h1>
  </div>
</div>

<div class="container">
  <table class="table is-fullwidth">
    <tbody>
      <tr>
        <th>サービスの内容</th>
        <td>イラスト、CG等の創作物におけるモチーフを、有償で指定できるリクエスト権の売買機会の提供、リクエスト権の購入者とのマッチング</td>
      </tr>
      <tr>
        <th>サービスの対価</th>
        <td>購入者が設定した価格に対する最大15%の手数料</td>
      </tr>
      <tr>
        <th>サービスの対価以外の必要料金</th>
        <td>銀行振込の手数料</td>
      </tr>
      <tr>
        <th>サービスの対価の支払い方法</th>
        <td>クレジットカード決済、銀行振込</td>
      </tr>
      <tr>
        <th>サービスの対価の支払時期</th>
        <td>購入者との取引成立時</td>
      </tr>
      <tr>
        <th>サービスの提供時期</th>
        <td>当該手続き完了後即時</td>
      </tr>
      <tr>
        <th>返金の取り扱い方法</th>
        <td>サービスの性質上不可</td>
      </tr>
      
      <tr>
        <th>サービス提供責任者</th>
        <td>林範夫</td>
      </tr>
      <tr>
        <th>サービス提供者の住所</th>
        <td>〒270-2223<br>千葉県松戸市秋山751-27</td>
      </tr>
      <tr>
        <th>問い合わせ窓口</th>
        <td>operation@illustlife.com</td>
      </tr>
    </tbody>
  </table>
</div>