%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { '特定商取引法に基づく表記' }
%h1.border_color-whitesmoke 特定商取引法に基づく表記

.container
  %table.table.is-fullwidth
    %tbody
      %tr
        %th サービスの内容
        %td イラスト、CG等の創作物におけるモチーフを、有償で指定できるリクエスト権の売買機会の提供、リクエスト権の購入者とのマッチング
      %tr
        %th サービスの対価
        %td 購入者が設定した価格に対する最大15%の手数料
      %tr
        %th サービスの対価以外の必要料金
        %td 銀行振込の手数料
      %tr
        %th サービスの対価の支払い方法
        %td クレジットカード決済、銀行振込
      %tr
        %th サービスの対価の支払時期
        %td 購入者との取引成立時
      %tr
        %th サービスの提供時期
        %td 当該手続き完了後即時
      %tr
        %th 返金の取り扱い方法
        %td サービスの性質上不可
      %tr
        %th サービス提供責任者
        %td 林範夫
      %tr
        %th サービス提供者の住所
        %td
          〒270-2223
          %br>/
          千葉県松戸市秋山751-28
      %tr
        %th 問い合わせ窓口
        %td operation@illustlife.sakura.ne.jp
