<h1>イラストライフ</h1>
<% if user_signed_in? %>
    <%= link_to "ユーザー編集", edit_user_registration_path, method: "get" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
<% else %>
    <%= link_to "ログイン\n", new_user_session_path, method: "get" %><br>
    <%= link_to "新規登録", new_user_registration_path, method: "get" %>
<% end %>




