<h1>クリエイター紹介</h1><br>

<h3>ディフォルメキャラ</h3><br>


<h3>背景</h3><br>

<h3>前景(道具、衣装、エフェクト等)</h3><br>

<h3>スライドショー</h3><br>


<%= link_to "クリエイター", new_creator_path, method: "get" %>
<%= link_to "画像一覧", creators_path, method: "get" %>
