
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" href="index.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <title>トップページ|イラストライフ</title>
</head>

<% if user_signed_in? %>
    <div class="right">
        <div class="container">
            <div class="h3">
            <%= link_to "ユーザー編集", edit_user_registration_path, method: "get" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
            </div>
        </div>
    </div>
<% else %>
    <div class="right">
        <div class="container">
            <div class="h3">
            <%= link_to "ログイン\n", new_user_session_path, method: "get" %>
            <%= link_to "新規登録", new_user_registration_path, method: "get" %>
            </div>
        </div>
    </div>
<% end %>




