- content_for(:html_title) { 'リクエスト一覧' }
%h1.border_color-whitesmoke リクエスト一覧

.container
  - if @requests != nil then
    - @requests.reverse_each do |request|
      - @request = request
      = render 'shared/request.html', requests:@request
  - else
    = 'リクエストがまだ存在しません'
