- content_for(:html_title) { 'リクエスト一覧' }
%h1.ll_font.ws_bgc リクエスト一覧

.container
  
  / 表題を表示
  .row
    %table.table.fixed_column
      %tr
        %th="申請日時"
        %th="リクエストID"
        %th="依頼者"
        %th="承認者"
        %th="状態"
        %th=""
  
  / 表体を表示
  - if not @reqs.empty?
    - @reqs.reverse_each.with_index(1) do |request|
      - @req = request
      = render 'shared/request.html'
  - else
    = 'リクエストがまだ存在しません'
