- content_for(:html_title) { 'リクエスト一覧' }
%h1.font-Xlarge.background_color-whitesmoke='リクエスト一覧'

.container
  - if not @requests.empty? then
    - @requests.reverse_each.with_index(1) do |request|
      - @request = request
      = render 'shared/request.html'
  - else
    = 'リクエストがまだ存在しません'
