<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;リクエスト一覧</h1>
  </div>
</div>

<div class="container">
  <% if @requests != nil then %>
    <% @requests.reverse_each do |request| %>
      <% @request = request %>
      <%= render 'shared/request.html',requests: @request %>
    <% end %>
    
  <% else %>
    <%="リクエストがまだ存在しません" %>
  <% end %>
</div>