%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { '売上' }
%h1.font-Xlarge.background_color-whitesmoke 売上

.container
  .row
    - if 0 < @creator.earnings
      = @creator.user.nickname+"さんの売上:"
      = @creator.earnings.to_s+"円"
    
    - else
      売上はありません