<!-- app/views/users/index.html.erb -->
<h1>Users Index</h1>
<%= link_to 'Add user', new_creator_path %>

<ul>
  <% @creators.each do |creator| %>
    <li>
      <% if creator.header? %>
        <%= image_tag creator.header.url %>
      <% end %>
    </li>
  <% end %>
</ul>