<!-- app/views/users/index.html.erb -->
<h1>Users Index</h1>
<%= link_to 'Add user', new_creator_path %>

<ul>
  <% @creators.each do |creator| %>
    <li>
      <p><%= creator.name %></p>
      <% if creator.image1? %>
        <%= image_tag creator.image1.url %>
      <% end %>
      
      <% if creator.image2? %>
        <%= image_tag creator.image2.url %>
      <% end %>
    </li>
  <% end %>
</ul>