<%= link_to 'Index user', creators_path %>

<div class="carrier_wave">
  <%= form_with(model: @creators, local: true) do |f| %>
    <%= f.file_field(:header) %>
    <%= submit_tag("登録") %>
  <% end %>
</div>