<!-- app/views/users/new.html.erb -->
<h1>Add User</h1>

<div class="carrier_wave">
  <main>
    <h1>CarrierWave</h1>
 
    <%= form_with(model: @creators, local: true) do |f| %>
      <%= f.file_field(:header) %>
      <%= submit_tag("登録") %>
    <% end %>

    <% if @creators .header? %>
      <%= image_tag(@creators .header.url) %>
    <% end %>
  </main>
</div>