%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { 'ユーザー情報' }
%h1.font-Xlarge.background_color-whitesmoke ユーザー情報

.container
  = render 'shared/user_header'
  .row
    - if not @requests.nil?
      - @requests.reverse_each do |request|
        .col3.m-2
          - if request.deliver_img?
            = link_to image_tag(request.deliver_img.url, class: 'size_Xlarge-square fit_cover border-solid4'), request_path(request.id)
          - else
            .alert.alert-dismissable.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              %p="request_id#{request.id}の画像が見つかりません"
