%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { 'ユーザー情報' }
%h1.border_color-whitesmoke ユーザー情報

.container
  = render 'shared/user_header'
  .row
    - p @requests
    - if not @requests.nil?
      - @requests.reverse_each.with_index(1) do |request,index|
        .col3.m-2
          = link_to image_tag(request.deliver_img.url, class: 'size-Xlarge-square fit-cover border-solid4'), request_path(request.id)
          - p index
          - index -= 1


