- expors.reverse_each.with_index(1) do |expor, index|
  - if who == expor.who
    .ll_square.m_font.ws_bgc.border.mb-5.mx-2
      - if expor.e_img?
        = link_to image_tag(expor.e_img.url, class:'full_rect fit_con'),
        expor_path(expor.id)
      - else
        = link_to(expor_path(expor.id)) do
          .ll_square.fixed_co.p-3.pre_wrap.blk_col.text-left.m_line
            - msg = Msg.find_by(id: expor.msg_id)
            = msg.s_msg.gsub(/[\n]/,"\n").slice(0..150) + '...'
      = expor.kind + '→ ' + expor.hope.to_s + '(+' + expor.fee.to_s + 'pt)'
    - break if 8 == index