.row
  %h2.ml-3.l_font 条件
.row.ml-3
  = radio_button_tag :lang, '2023年3月', checked:true
  = label_tag(:lang, "　2023年3月　", class:'l_font ml-2')
.row.ml-3
  = radio_button_tag :cnt, '商業, 二次創作', checked:true
  = label_tag(:cnt, "　商業, 二次創作　", class:'l_font ml-2')
  