.row
  %h2.l_font.ml-3 条件
.row.ml-3
  = radio_button_tag :lang, '2023年2月',checked:true
  = label_tag(:lang, "　2023年2月　", class:'l_font ml-2')
.row.ml-3
  = radio_button_tag :cnt, '商業, 二次創作',checked:true
  = label_tag(:cnt, "　商業, 二次創作　", class:'l_font ml-2')
  