- content_for(:html_title) { '好きなイラスト・漫画製作を手軽に依頼' }
%h1.font-Xlarge.background_color-whitesmoke クリエイター紹介

.container
  - if Rails.env.development?
    / 開発中の漫画ビュワー
    .row
      %h2.font-large 投稿作品
      
    .row
      =link_to image_tag('/img/mobu.png',
        class: 'size_Xlarge-square fit_cover border_solid-medium'),
        '/mangas/1/illustlifes'
          
    
  - if @requests
    .row
      %h2.font-large クリエイター
      
    / クリエーターのヘッダー画像を評価が高い順に30点表示
    .row.margin_side-Xsmall
      - @creators.each.with_index(1) do |creator,index| 
      
        - if not creator.user.soft_destroyed?
          .padding_side-small.text-center.py-1
          
            - if creator.user.confirmed_at?
              = display_header(creator,
                'size_Xlarge-square border_solid-medium fit_cover')
                
              .font-small.string_indention-small= creator.user.nickname
        - break if 30 == index
         
    
    .row
      %h2.font-large リクエスト作品
    
    / 納品された作品を作成日時が新しい順に30点表示 
    .row.margin_side-Xsmall
      - @requests.each.with_index(1) do |request,index|
      
        - if request.deliver_img
          .padding_side-small.text-center.py-2
          
            = link_to image_tag(request.deliver_img.url,
              class: 'size_Xlarge-square fit_cover border_solid-medium'),
              "/requests/#{request.id}"
        - break if 30 === index