<h1>お振込み先情報</h1>
<div class="container">
  
  <div class="row my-5">
    <h4>イラストライフ運営局一時金預かり先</h4>
  </div>
  <div class="row my-5">
    
    <table border=1>
      <tr><td width="150">銀行名</td><td width="200">三菱東京UFJ銀行</td></tr>
      <tr><td>支店名</td><td>聖護院支店</td></tr>
      <tr><td>口座の種類</td><td>普通預金</td></tr>
      <tr><td>口座番号</td><td>4565837</td></tr>
      <tr><td>口座名義</td><td>林範夫</td></tr>
    </table>
  </div>
  
  <div class="row my-5">
    <p>一時預かり金となります。</p>
    <p>クリエイターが納期に間に合わなかった場合は返金されます。</p>
  </div>
  

</div>

