- content_for(:html_title) { 'イラスト付き利用説明' }
%h1.font-Xlarge.background_color-whitesmoke='イラスト付き利用説明 - 目次'

.container
  .row.my-5
    .col-3
      = image_tag('/img/character/ディフォ姫前面_ここはどこ.gif',
        class:'size_Xlarge-square')
    .col-6.block-baloon-left.position_midium-right
      このサイトでは何ができますか？
  .row
    .col-1
    .col-6.block-baloon-right
      このサイトでは、個人がイラスト、漫画、アニメ製作を行う為に、
      各分野の人に依頼したり、アドバイスを受けたりする
      事が出来ます。詳しくは
      
      
    .col-3
      = image_tag('/img/character/リオ前面_説明.gif',
        class:'size_Xlarge-square')
        
    .row.my-5
      = link_to "リンク先", home_manual_path(1,1)
 