<% if @user.image.attached? %>
  <%#= image_tag @user.image %>
  <%# require 'mini_magick'%>
  <%= image_tag @user.image.variant(resize: '60x60').processed %>
<% end %>

<h3>ニックネーム： <%=@user.nickname %></h3><br>

<h3>Eメール： <%=@user.email %></h3><br>



