<% if @user.image.attached? %>
  <%#= image_tag @user.image %>
  <% require 'mini_magick'%>
  <%= image_tag @user.image.variant(resize: '140x140').processed ,class: 'icon' %>
<% else %>
  <div class="rounded-circle"">
        <%= image_tag '/mobu.png',class: 'icon'%>
  </div>
<% end %>

<h3>ニックネーム： <%=@user.nickname %></h3><br>

<h3>Eメール： <%=@user.email %></h3><br>



