= form_with local: true, url: pay_charge_cards_path do |form|
  金額：#{form.text_field :amount}
  %script.payjp-button{"data-key" => ENV["PAYJP_PRIVATE_KEY"], :src => "https://checkout.pay.jp", :type => "text/javascript"}
    :cdata