.row
  .col-md-12.px-0
    %h1  クレジットカード情報
/ <div class="container">
/ 番号:**** **** **** <haml_silent></haml_silent><br>
/ 有効期限:年<haml_silent></haml_silent><br>
/ 有効期限:月<haml_silent></haml_silent><br><br>
/ <haml_silent></haml_silent><br><br>
/ <haml_silent></haml_silent>
/ </div>
