/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *app/assets/stylesheets以下の全ての階層のスタイルシートを読込。
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



//aタグのディフォルト設定を変更：色変更、下線装飾無し(!importantで優先順位を上げる)
a { color: steelblue; text-decoration: none !important; }

// body全体のフォント指定
body { font-family: 'Kaisei Decol', serif, "メイリオ" ; }

//フッダーの大きさを指定
footer { width: 100%; height: 100px; }

//ストロングとラベルタグの太字を無効化
strong, label { font-weight: normal; }

//色設定
.background_color-whitesmoke { background-color: whitesmoke; } 
.background_color-crimson { background-color: crimson; } 
.border_color-steelblue { border-color: steelblue; } 

//画像や文字のサイズを決定

.size-large-square { width: 120px; height: 120px; }
.size-middle-square { width: 90px; height: 90px; }
.size-small-square { width: 50px; height: 50px; }
.size-small-Horizontal_variable_rectangle { width: 100%; height: 50px; }
.size-middle-Horizontal_variable_rectangle { width: 100%; height: 180px; }
.size-large-Horizontal_variable_rectangle { width: 100%; height: 300px; }
.Horizontal_rectangle { width: 150px; height: 50px; }

//ボーダーのデザインを定義
.border-solid4 { border-style: solid; border-width: 4px; }

 //アスペクト比を維持して表示
.fit-cover { object-fit: cover; }

//コンテンツを中央に寄せる
.position-center-content{ width: 80%; margin: 0 auto; max-width: 600px; }

//半透明
.img_color-translucent{ opacity: 0.3; }

//文字がコンテンツからあふれた場合に改行
.string_indention{ word-wrap: break-word; max-width: 320px; }

//Extra large
@media screen and (min-width: 1200px){
  //見出しのデザイン
  h1 { font-size: 2.5em; padding: 0.2em 0.8em; }
  
  //文字の大きさを定義
  .font-Xsmall { font-size: 0.8em; }
  .font-small { font-size: 1.2em; }
  .font-medium { font-size: 1.1em; }
  .font-large { font-size: 1.5em; }
  .font-Xlarge { font-size: 2.8em; }
  
  //オブジェクトを上に配置
  .position-top_large { position: absolute; top: -100px; }
  .position-top_medium { position: absolute; top: -72px; }
  .position-top-short { position: absolute; top: -40px; }
  .position-top-shortX { position: absolute; top: -15px; }
  .position-left { position: absolute; left: 120px; }
  
  //図のサイズ
  .size-square_Xlarge { width: 150px; height: 150px; }
  .size-large-square { width: 120px; height: 120px; }
  .size-middle-square { width: 100px; height: 100px; }
  .size-small-square { width: 60px; height: 60px; }
}

//Large
@media screen and (max-width: 1199px){
  //見出しのデザイン
  h1 { font-size: 2.4em; padding: 0.2em 0.8em; }
  
  //文字の大きさを定義
  .font-Xsmall { font-size: 0.7em; }
  .font-small { font-size: 1em; }
  .font-medium { font-size: 1.1em; }
  .font-large { font-size: 1.4em; }
  .font-Xlarge { font-size: 2.7em; }
  
  //オブジェクトを上に配置
  .position-top_large { position: absolute; top:-100px; }
  .position-top_medium { position: absolute; top:-72px; }
  .position-top-short { position: absolute; top:-40px; }
  .position-top-shortX { position: absolute; top:-15px; }
  .position-left { position: absolute; left:100px; }
  
  .size-square_Xlarge { width: 150px; height: 150px; }
  .size-large-square { width: 110px; height: 110px; }
  .size-middle-square { width: 90px; height: 90px; }
  .size-small-square { width: 50px; height: 50px; }
}


//Medium
@media screen and (max-width: 991px){
  //見出しのデザイン
  h1 { font-size: 2.3em; padding: 0.2em 0.8em; }
  
  //文字の大きさを定義
  .font-Xsmall { font-size: 0.6em; }
  .font-small { font-size: 0.9em; }
  .font-medium { font-size: 1.0em; }
  .font-large { font-size: 1.3em; }
  .font-Xlarge { font-size: 2.5em; }
  
  //オブジェクトを上に配置
  .position-top_large { position: absolute; top: -100px; }
  .position-top_medium { position: absolute; top: -72px; }
  .position-top-short { position: absolute; top: -40px; }
  .position-top-shortX { position: absolute; top: -15px; }
  .position-left { position: absolute; left: 90px; }
  
  .size-square_Xlarge { width: 150px; height: 150px; }
  .size-large-square { width: 100px; height: 100px; }
  .size-middle-square { width: 80px; height: 80px; }
  .size-small-square { width: 40px; height: 40px; }
}

//Small
@media screen and (max-width: 767px){
  //見出しのデザイン
  h1 { font-size: 2.2em; padding: 0.2em 0.8em; }
  
  //文字の大きさを定義
  .font-Xsmall { font-size: 0.6em; }
  .font-small { font-size: 0.9em; }
  .font-medium { font-size: 1.0em; }
  .font-large { font-size: 1.3em; }
  .font-Xlarge { font-size: 2.5em; }
  
  //オブジェクトを上に配置
  .position-top_large { position: absolute; top: -100px; }
  .position-top_medium { position: absolute; top: -62px; }
  .position-top-short { position: absolute; top: -40px; }
  .position-top-shortX { position: absolute; top: -15px; }
  .position-left { position: absolute; left: 100px; }
  
  .size-square_Xlarge { width: 150px; height: 150px; }
  .size-large-square { width: 100px; height: 100px; }
  .size-middle-square { width: 70px; height: 70px; }
  .size-small-square { width: 45px; height: 45px; }
}

//Extra small
@media screen and (max-width: 575px){
  //見出しのデザイン
  h1 { font-size: 2.1em; padding: 0.2em 0.8em; }
  
  //文字の大きさを定義
  .font-Xsmall { font-size: 0.5em; }
  .font-small { font-size: 0.7em; }
  .font-medium { font-size: 0.8em; }
  .font-large { font-size: 1em; }
  .font-Xlarge { font-size: 1.8em; }
  
  //オブジェクトを上に配置
  .position-top_large { position: absolute; top:-60px; }
  .position-top_medium { position: absolute; top:-60px; }
  .position-top-short { position: absolute; top:-40px; }
  .position-top-shortX { position: absolute; top:-15px; }
  .position-left { position: absolute; left:90px; }
  
  .size-square_Xlarge { width: 150px; height: 150px; }
  .size-large-square { width: 80px; height: 80px; }
  .size-middle-square { width: 60px; height: 60px; }
  .size-small-square { width: 40px; height: 40px; }
}
.button-text
{ background-color:#EEEEEE; padding:3px; }

