/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *app/assets/stylesheets以下の全ての階層のスタイルシートを読込。
 *= require_tree .
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 .icon {
  max-width: 100%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  //ボックスが画像で埋まるようにリサイズ
  object-fit: cover; 
  object-position: 50% 100%; 
  border-style: solid;
  border-width: 5px;
  border-color: bule;
}
 .bg {
  max-width: 100%;
  width: 267px;
  height: 150px;
  object-fit: cover; 
  object-position: 50% 100%; 
  border-style: solid;
  border-width: 5px;
  border-color: bule;
}
 .cg {
  max-width: 100%;
  border-radius: 10px;
  width: 267px;
  height: 150px;
  object-fit: cover; 
  object-position: 50% 100%; 
  border-style: solid;
  border-width: 5px;
  border-color: bule;
}
 .favicon {
  max-width: 100%;
   width: 50px;
   height: 50px;
}
 .symbol {
  max-width: 100%;
   width: 70px;
   height: 70px;
}
 .header {
  width: 100%;
  height: 180px;
}
 .thumbnail {
  width: 100%;
  height: 180px;
  object-fit: contain; 
  //object-fit: cover; 
  object-position: 40% 100%; 
}
label{
 font-weight:normal;
}
.cover {
 //コンテナにフィットさせる
 object-fit: cover; 
}
 .upicon {
   position: absolute;
   top:-120px;
}

 .upsymbol {
   position: absolute;
   top:-55px;
}

/* サイト全体のフォント指定 */
body {
 font-family: 'Kaisei Decol', serif, "メイリオ" ;
}

