%p
  ようこそ #{@user.nickname}さん!
%p 以下のリンク先からメール認証を完了できます。
%p= link_to 'メール認証先リンク', confirmation_url(@resource, confirmation_token: @token)
%br
  以上、宜しくお願い致します。<br>
  ++++++++++++++++++++++++++++++++++++++++<br>
  イラストライフ株式会社<br>
  URL https://illustlife.com<br>
  TEL: 070-3304-9100<br>
  email: operation@illustlife.sakura.ne.jp<br>
  ++++++++++++++++++++++++++++++++++++++++<br>