<% if Rails.env.production? %>
  <script src="//accaii.com/orino/script.js" async></script><noscript><img src="//accaii.com/orino/script?guid=on"></noscript>
<% end %>

<p>イラストライフ運営局</p>

<p>ようこそ <%= @user.nickname %>さん!</p>

<p>以下のリンク先からメール認証を完了できます。</p>

<p><%= link_to 'メール認証先リンク', confirmation_url(@resource, confirmation_token: @token) %></p>
