<script src=<%= ENV['ACCESS_JS'] %> async></script><noscript><img src=<%= ENV['ACCESS_SCRIPT'] %>></noscript>
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
