<!DOCTYPE html>
<%= ENV['ACCESS_LABORATORY'] %>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、メール送信テストです。</h1>
  </body>
</html>