- content_for(:html_title) { '再開通知' }
%h1.font-Xlarge.background_color-whitesmoke 再開通知

.container
  = @creator.user.nickname + "さんのリクエスト受付"
  = form_with(model: @resume, local: true) do |f|
    = f.hidden_field :resume_user, :value => params[:id]
    = f.submit '再開時に通知メールを送る', class:'btn btn-light size-small-Horizontal_variable_rectangle font-large'
