- content_for(:html_title) { '再開通知者リスト' }
%h1.border_color-whitesmoke 再開通知者リスト

.container
  
  - @resumes.each do |resume|
    .row.my-5
      .col
        =User.find(resume.notification_user).nickname
      .col
        =button_to '削除', {controller:'requests', action:'index'}, {method: :delete}
      .col
        %br
