- content_for(:html_title) { '再開通知者リスト' }
%h1.font-Xlarge.background_color-whitesmoke 再開通知者リスト

.container
  
  - @notification_users.each do |notification_user|
    .row.my-5
      .col
        =User.find(notification_user.resume_user).nickname
      .col
        =button_to '削除', {controller:'resumes', action:'show'}, {method: :get, params: {record_delete:notification_user.id}}
      .col
        %br
