- content_for(:html_title) { '再開通知者リスト' }
%h1.ll_font.ws_bgc 再開通知者リスト

// 再開通知者リストの表示と登録者の削除
.container
  .row.my-5
    / テーブルのセルの幅を均等に分ける
    %table.table.fixed_column
      %tr
        %th ニックネーム
        %th 
      
      - @resumes.each do |resume|
        / ニックネームを表示。セルをはみ出した場合は隠す
        %tr
          %td.hidden_over= User.find(resume.resume_user).nick
          / 各resume.idのレコードの削除ボタンを表示
          %td= button_to '削除', {controller:'resumes', action:'show'},
            {method: :get, params:{class:"text-center", record_delete: resume.id}}
