
%h2.l_font='このサイトで出来る事'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_呼びかけ.png',
      class:'ll_square')
  .col-6.block-baloon-left.m_rr-pos.m_font
    このサイトで出来る事を教えてください。
.row
  .col-1
  .col-6.block-baloon-right.m_font
    ・イラストや漫画を投稿<br>
    ・好きなキャラクターや作品の追加と評価
    ・直接クリエーターに作品をリクエスト
  .col-3
    = image_tag('/img/character/リオ前面_身振り手振りで説明.png', 
      class:'ll_square')
.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_バイバイ.gif',
      class:'ll_square')
  .col-6.block-baloon-left.m_rr-pos.m_font
    わかりました。ありがとうございました。
.row
  .col-1
  .col-6.block-baloon-right.m_font
    どういたしまして。
  .col-3
    = image_tag('/img/character/リオ前面_バイバイ.gif',
      class:'ll_square')