!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
    %p ++++++++++++++++++++++++++++++++++++++++
    %p イラストライフ株式会社
    %p URL https://illustlife.com
    %p TEL: 070-3304-9100
    %p email: operation@illustlife.sakura.ne.jp
    %p ++++++++++++++++++++++++++++++++++++++++
