!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
    %br
      以上、宜しくお願い致します。<br>
      ++++++++++++++++++++++++++++++++++++++++<br>
      イラストライフ運営局<br>
      URL https://illustlife.com<br>
      TEL: 070-3304-9100<br>
      email: operation@illustlife.sakura.ne.jp<br>
      ++++++++++++++++++++++++++++++++++++++++<br>
