!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
    %br
      以上、宜しくお願い致します。<br>

      %p ――――――――――――――――――――――――――――――
      = ENV['APP_NAME']
      運営局
      %br/
      URL ： 
      = ENV['HOME_ADDRESS']
      %br/
      Mail ：
      = ENV['ADMINISTRATOR_MAIL']
      %br/
      %p ――――――――――――――――――――――――――――――
